
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-dark: #121212;  /* Default text */
    --text-light: #fff;       /* Light mode text */
    
    --bg-light: #fff;        /* Light mode background */
    --bg-dark: #121212;      /* Dark mode background */
     
    /* 🎯 Permanent Colors */
    --always-black: #000000;  
    --always-white: #ffffff;

    --link-btn-1: #E63946;
    
    --primary-color: #22c55e;  /* Green */
    --secondary-color: #2563eb; /* Blue */  
}

.link-btn {
  background: #d52534;
  padding: 2px 6px;
  color: #fff;
  border-radius: 10px;
  font-size: 10px;
}

html.dark {
    --text-light: #121212;
    --text-dark: #fff;

    --bg-light: #121212;
    --bg-dark: #fff;

    
    --always-black: #000000;  
    --always-white: #ffffff;

    --primary-color: #16a34a;  /* Dark Green */
    --secondary-color: #1e40af; /* Dark Blue */

    /* Permanent colors remain unchanged */
}
