  @import "tailwindcss";
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  :root {
    --text-light: #121212;  /* Default text */
    --text-dark: #fff;       /* Light mode text */
    
    --bg-light: #fff;        /* Light mode background */
    --bg-dark: #121212;      /* Dark mode background */
    
    --primary-color: #22c55e;  /* Green */
    --secondary-color: #2563eb; /* Blue */

    /* 🎯 Permanent Colors */
    --always-black: #000000;  
    --always-white: #ffffff;
}

html.dark {
    --text-light: #fff;
    --text-dark: #121212;

          /* Light mode background */
    --bg-dark-p: #121212;  
    
    --bg-light: #121212;
    --bg-dark: #fff;

    --primary-color: #16a34a;  /* Dark Green */
    --secondary-color: #1e40af; /* Dark Blue */

    /* Permanent colors remain unchanged */
}
